API_ID=your_api_id # [api id from my.telegram.org]
API_HASH=your_api_hash # [api hash from my.telegram.org]
BOT_TOKEN=your_bot_token
ADMIN=your_username_or_id # [can be multiple admins just add: , ex: 1234, 12345]
BOT_NAME=GetAnyMessage
DB_FLAG=yes # can be set no or null
DB_HOST=your-db-host # can be null if DB_FLAG=no
DB_PORT=3306 # can be null if DB_FLAG=no
DB_USER=mpuser # can be null if DB_FLAG=no
DB_PASS=mp_pass # can be null if DB_FLAG=no
DB_NAME=madelineproto # can be null if DB_FLAG=no
